.page_header {
    padding-top: 5%;
    color: #0f0f0f;
    text-align: center;
}

h4 {
    text-align: center;
}

/* SPONSOR SECTION */

.sponsors {
    background: #ffffff;
}

.sponsors-info h2 {
    color: #51504E;
}

.sponsors-info .row {
    /*min-height: 1em;*/
    vertical-align: middle;
}

.sponsors-info .row img {
    -moz-transform: scale(.5, .5);
    -ms-transform: scale(.5, .5);
    -webkit-transform: scale(.5, .5);
    transform: scale(.5, .5);

    padding: 10px;
}

.sponsors-info .row p {
    color: #51504E;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.cap-fac {
    height: 5%;
}