h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
}

body {
    background: url('../images/background.png') no-repeat center;
    background-size: cover;
}

#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: rgb(0,0,0) no-repeat;
    background-size: cover;
}

.background-opac {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.4);
}

@media only screen and (max-width: 960px) {
    video,
    video source {
        display:none;
    }
}