@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    font-family: 'Montserrat', sans-serif;
    /*color: #f7f7f7;*/
    /*letter-spacing: -0.5px;*/
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    font-size: 18px;
}

.navbar-icon {
    height: 130%;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero_title {
    width: 60%; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
    color: #f5f5f5;
}

.email_signup {
    padding: 2%;
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
}

.email_signup form {
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}